# mounted volume
sites

development/*
!development/README.md
!development/installer.py

!development/bench/
development/bench/*
!development/bench/.vscode/

!development/frappe/
development/frappe/*
!development/frappe/.vscode/
!development/frappe/installer.py

# Pycharm
.idea

# VS Code
.vscode/**
!.vscode/extensions.json

# VS Code devcontainer
*.code-workspace

# Python
*.pyc
__pycache__
venv

# NodeJS
node_modules